<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <title>VitaliaCare</title>
</head>
<body>
    <header>
        <section class="top-header">
            <article>
                <p class="top-header-text">Salud para todos 24/7</p>
            </article>
        </section>
        <nav class="bottom-header">
            <!-- {{ asset('images/logo.png') }} -->
            <a href="{{ route('home') }}"><img class="img-navbar" src="./logo con tonos azules para una empresa de salud llamada VitaliaCare.png" alt=""></a>
    
                <div class="links lg:flex hidden space-x-4">
                    <a href="">Sorteos</a>
                    <a href="">Resultados</a>
                    <a href="">Guía</a>
                    <a href="">Transparencia</a>
                </div>
            
    
            <div class="auth-links lg:flex hidden space-x-4 auth-buttons">

                <a href="{{ route('userpurchases', ['id' => auth()->user()->id]) }}">Mi perfil</a>

                <a href="{{ route('dashboard') }}">Dashboard</a>
            

                <form action="{{ route('logout') }}" method="POST" class="mb-3">
                  
                    <button type="submit" class="btn-close-session">Cerrar Sesión</button>
                </form>
              

                <!-- <a href="{{ route('login') }}">Iniciar sesion</a>
                <a href="{{ route('registro') }}">Registrarse</a>
                 -->
               
               
            </div>
    
            <!-- Botón de menú hamburguesa -->
            <button id="menu-toggle" class="hamburger-menu block lg:hidden p-2">
                <svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </nav>
    
        <!-- Menú desplegable en modo móvil -->
        <div id="mobile-menu" class="md:hidden mobile-hamburguer ocultar">
        
            <a href="">Sorteos</a>
            <a href="">Resultados</a>
            <a href="">Guía</a>
            <a href="">Transparencia</a>

            <div class="auth-buttons mobile-buttons">
               
                <a href="">Mi perfil</a>

                <a href="{{ route('dashboard') }}">Dashboard</a>
                <form class="form-logout" action="{{ route('logout') }}" method="POST" class="mb-3">
                   
                    <button type="submit" class="btn-close-session">Cerrar Sesión</button>
                </form>
               
                <a href="{{ route('login') }}">Iniciar sesion</a>
                <a href="{{ route('registro') }}">Registrarse</a>
            
            </div>
        </div>
    </header>
    <main>
        {{$slot}}
        <section class="first-baner">
            <h2>VitaliaCare</h2>
            <p>Cuidamos de ti, cuidamos de la vida.</p>
        </section>
        <section class="hero-image">
        </section>
        <section class="active-loteries">
            <h3>Nuestros servicios</h3>
           
            <article class="services">
                <div class="service">
                  <h2>Consulta General</h2>
                  <p>Atención integral para el cuidado de tu salud con diagnósticos precisos y personalizados.</p>
                </div>
                <div class="service">
                  <h2>Medicina Interna</h2>
                  <p>Especialistas en el manejo de enfermedades crónicas y complejas.</p>
                </div>
                <div class="service">
                  <h2>Pediatría</h2>
                  <p>Cuida la salud y desarrollo de tus pequeños con nuestro equipo de pediatras.</p>
                </div>
                <div class="service">
                  <h2>Dermatología</h2>
                  <p>Tratamientos avanzados para cuidar tu piel y mejorar tu bienestar.</p>
                </div>
              </article>
            <section class="services">
      <div class="service">
        <h2>Consulta General</h2>
        <p>Atención integral para el cuidado de tu salud con diagnósticos precisos y personalizados.</p>
      </div>
      <div class="service">
        <h2>Medicina Interna</h2>
        <p>Especialistas en el manejo de enfermedades crónicas y complejas.</p>
      </div>
      <div class="service">
        <h2>Pediatría</h2>
        <p>Cuida la salud y desarrollo de tus pequeños con nuestro equipo de pediatras.</p>
      </div>
      <div class="service">
        <h2>Dermatología</h2>
        <p>Tratamientos avanzados para cuidar tu piel y mejorar tu bienestar.</p>
      </div>
    </section>
        </section>
        <article class="title-cont">
            <h3 class="title-pricing">Nuestros planes</h3>
        </article>
        
        <section class="pricing">
            <div class="plan">
              <h2>Básico</h2>
              <p class="price">$10/mes</p>
              <ul>
                <li>Consulta general</li>
                <li>1 cita mensual</li>
                <li>Soporte básico</li>
              </ul>
              <button>Elegir Plan</button>
            </div>
            <div class="plan featured">
              <h2>Premium</h2>
              <p class="price">$30/mes</p>
              <ul>
                <li>Consulta general ilimitada</li>
                <li>Especialistas incluidos</li>
                <li>Soporte 24/7</li>
              </ul>
              <button>Elegir Plan</button>
            </div>
            <div class="plan">
              <h2>Avanzado</h2>
              <p class="price">$50/mes</p>
              <ul>
                <li>Todos los beneficios Premium</li>
                <li>Medicinas con descuento</li>
                <li>Exámenes anuales</li>
              </ul>
              <button>Elegir Plan</button>
            </div>
          </section>
        
    </main>
    <footer>
        <section class="top-footer">
            <article class="map-footer">
                <div>
                    <i class="bi bi-geo-alt-fill"></i>
                    <h5>Ubicacion</h5>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.3378179448664!2d-75.58618982416107!3d6.219106326624008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44293f0e114eef%3A0x99610cdd44c7c081!2sRiwi!5e0!3m2!1ses!2sco!4v1730928081957!5m2!1ses!2sco" width="310" height="310" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </article>

            <article class="contact-footer">
                <div class="title-contact-footer">
                    <i class="bi bi-person-lines-fill"></i>
                    <h5>Contacto</h5>
                </div>

                <div class="ancords-contact-footer">
                    <a href="https://wa.link/2kyeqs">
                        <i class="bi bi-whatsapp"></i>
                        <h5>WhatsApp</h5>
                    </a>
    
                    <a href="mailto:juanjoarenas1218@gmail.com">
                        <i class="bi bi-envelope"></i>
                        <h5>Email</h5>
                    </a>
                    <a href="tel:+573022260938">
                        <i class="bi bi-telephone"></i>
                        <h5>Telefono</h5>
                    </a>
                </div>
            </article>
            <article class="social-media-footer">
                <div class="title-media-footer">
                    <i class="bi bi-bezier2"></i>
                    <h5>Redes sociales</h5>
                </div>

                <div class="social-footer-ancords">
                    <a href="#">
                        <i class="bi bi-instagram"></i>
                        <h5>Instagram</h5>
                    </a>
                    <a href="#">
                        <i class="bi bi-twitter-x"></i>
                        <h5>Twitter</h5>
                    </a>
                </div>
            </article>
        </section>
        <section class="bottom-footer">
            <p>© Copyright 2024 - Todos los derechos reservados.</p>
        </section>
     </footer>
     <script>
        document.addEventListener("DOMContentLoaded", function() {
            const menuToggle = document.getElementById("menu-toggle");
            const mobileMenu = document.getElementById("mobile-menu");
        
            menuToggle.addEventListener("click", () => {
                mobileMenu.classList.toggle("ocultar");

                console.log("cambiando moton");
                
            });
        });
    </script>
</body>
</html>